<h1>New view</h1>
<center>
  <!-- <form action="/users" method="post" accept-charset="UTF-8">
    <label for="username">Username:</label><br>
    <input id="username" name="user[username]" type="text" /><br>
    <label for="email">Email:</label><br>
    <input id="email" name="user[email]" type="text" /><br>
    <label for="password">Password:</label><br>
    <input id="password" name="user[password]" type="text" /><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
</center> -->

<!-- <%= form_tag("/users") %>
Username:<br><%= text_field_tag(:username) %><br>
Email:<br><%= text_field_tag(:email) %><br>
Password:<br><%= text_field_tag(:password) %><br>
 <%= submit_tag("Submit") %><br>
-->
<div><%= form_for @user, url: {action: "create"} do |f| %>
  Username:<br> <%= f.text_field :username, placeholder: "Username" %><br>
  Password:<br><%= f.text_field :password, placeholder: "Password"  %><br>
  Email:<br><%= f.text_field :email, placeholder: "Email" %><br>
  <%= f.submit "Submit" %><br>
<% end %>
</div>
